// Fonts
$base-font: "Roboto", sans-serif;
$title-font: "Lato", sans-serif;
$bold: 700;

// Breakpoints
$break_xxl: rem(1480);

// Colors
$base-color: #393E46;

$header-top-color: rgba(0, 0, 0, 0.4);

$button-color: #007B75;
$button-color-text: #fff;

$menu-color: #64697a;