@import "icons-data";
@import "mixins";

.icon {
    @include outline-none;
    @include transitionEaseOutQuint(background);
    display: inline-block;
    cursor: pointer;
}

.icon-search {
    @include wh(20px);
    @include icon-bgc(icon-search());
}

.icon-location {
    @include wh(24px);
    @include icon-bgc(icon-location());
}

.icon-phone {
    @include wh(20px);
    @include icon-bgc(icon-phone());
}

.icon-mobile-menu {
    @include icon-mobile-menu(3px, 28px);
    cursor: pointer;
    background-color: $button-color;
    margin: auto 4px auto auto;


    &:before {
        @include icon-mobile-menu-before(3px, 28px, -9px);
    }

    &:after {
        @include icon-mobile-menu-after(3px, 20px, 9px);
    }

    &.active {
        transition: 0.5s;
        background: transparent;

        &:before {
            width: 28px;
            transform: rotateZ(45deg) translate(6px, 7px);
        }

        &:after {
            width: 28px;
            transform: rotateZ(-45deg) translate(6px, -7px);
        }
    }

    &.active-fixed {
        position: fixed;
        z-index: 101;
        top: 25px;
        right: 20px;
    }
}

.icon-book {
    @include wh(32px);
    @include icon-bgc(icon-book());
}

.icon-arrow-long-next, .icon-arrow-long-prev {
    @include wh(50px, 21px);
    @include icon-bgc(icon-arrow-long());

    @include transitionEaseOutQuint(all);
    position: relative;
    &.swiper-button-disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.icon-arrow-long-prev {
    &:active:not(.swiper-button-disabled) {
        left: -5px;
    }
}

.icon-arrow-long-next {
    @include rotate();
    &:active:not(.swiper-button-disabled) {
        right: -5px;
    }
}

.icon-cards {
    @include wh(24px);
    @include icon-bgc(icon-cards());
}

.icon-cards-green {
    @include wh(24px);
    @include icon-bgc(icon-cards("007B75"));
}

.icon-fb {
    @include wh(48px);
    @include icon-bgc(icon-fb());
    background-color: #3b5998;
    background-size: 24px;
}

.icon-telegram {
    @include wh(48px);
    @include icon-bgc(icon-telegram());
    background-color: #039be5;
    background-size: 24px;
}

.icon-vk {
    @include wh(48px);
    @include icon-bgc(icon-vk());
    background-color: #597da3;
    background-size: 24px;
}

.icon-arrow-down {
    @include wh(20px,29px);
    @include icon-bgc(icon-arrow-down());
}

.icon-clip {
    @include wh(16px);
    @include icon-bgc(icon-clip());
}

.icon-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #007b75 transparent transparent transparent;
}

.icon-pdf {
    @include wh(48px);
    @include icon-bgc(icon-pdf());
    @include md-block {
        @include wh(64px);
        background-size: 32px;
    }
    background-size: 24px;
    background-color: #007b75;
}

.icon-arrow-triangle-left {
    @include wh(6px, 10px);
    @include icon-bgc(icon-arrow-triangle());
}

.icon-link {
    @include wh(16px);
    @include icon-bgc(icon-link());
}

.icon-quotes {
    @include wh(36px);
    @include icon-bgc(icon-quotes());
}

.icon-file {
    @include wh(32px);
    @include icon-bgc(icon-file());
}

.icon-address {
    @include wh(24px);
    @include icon-bgc(icon-address());
    background-size: 16px 19px;
}

@mixin icon-metro($color: "000") {
    @include wh(32px);
    @include icon-bgc(icon-metro($color));
    box-sizing: border-box;
    border: 2px solid #{"##{$color}"};
    background-size: 16px 14px;
    border-radius: 50%;
}

.icon-metro-purple {
    @include icon-metro("B61D8E");
}

.icon-metro-red {
    @include icon-metro("EF1E25");
}

.icon-expertise {
    @include wh(64px);
    @include icon-bgc(icon-expertise());
}

.icon-letter {
    @include wh(64px);
    @include icon-bgc(icon-letter());
}

.icon-review {
    @include wh(64px);
    @include icon-bgc(icon-review());
}

.icon-call {
    @include wh(64px);
    @include icon-bgc(icon-call());
}

.icon-calendar {
    @include wh(24px);
    @include icon-bgc(icon-calendar());
}

.icon-search-cross {
    @include wh(24px);
    @include icon-bgc(icon-search-cross());
}

.icon-delete {
    @include wh(16px);
    @include icon-bgc(icon-search-cross());
}

.icon-cross {
    @include wh(32px);
    @include icon-bgc(icon-cross());
    background-size: 28px;
}