@import "icons-data";
@import "mixins";

.icon {
    @include outline-none;
    @include transitionEaseOutQuint(background);
    display: inline-block;
    cursor: pointer;
}

.icon-search {
    @include wh(20px);
    @include icon-bgc(icon-search());
}

.icon-location {
    @include wh(24px);
    @include icon-bgc(icon-location());
}

.icon-phone {
    @include wh(20px);
    @include icon-bgc(icon-phone());
}

.icon-mobile-menu {
    @include icon-mobile-menu(3px, 28px);
    cursor: pointer;
    background-color: $button-color;
    margin: auto 4px auto auto;


    &:before {
        @include icon-mobile-menu-before(3px, 28px, -9px);
    }

    &:after {
        @include icon-mobile-menu-after(3px, 20px, 9px);
    }

    &.active {
        transition: 0.5s;
        background: transparent;

        &:before {
            width: 28px;
            transform: rotateZ(45deg) translate(6px, 7px);
        }

        &:after {
            width: 28px;
            transform: rotateZ(-45deg) translate(6px, -7px);
        }
    }

    &.active-fixed {
        position: fixed;
        z-index: 101;
        top: 25px;
        right: 20px;
    }
}

.icon-book {
    @include wh(32px);
    @include icon-bgc(icon-book());
}

.icon-arrow-long-next, .icon-arrow-long-prev {
    @include wh(50px, 21px);
    @include icon-bgc(icon-arrow-long());

    @include transitionEaseOutQuint(all);
    position: relative;
    &.swiper-button-disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.icon-arrow-long-prev {
    &:active:not(.swiper-button-disabled) {
        left: -5px;
    }
}

.icon-arrow-long-next {
    @include rotate();
    &:active:not(.swiper-button-disabled) {
        right: -5px;
    }
}

.icon-cards {
    @include wh(24px);
    @include icon-bgc(icon-cards());
}

.icon-fb {
    @include wh(48px);
    @include icon-bgc(icon-fb());
    background-color: #3b5998;
    background-size: 24px;
}

.icon-telegram {
    @include wh(48px);
    @include icon-bgc(icon-telegram());
    background-color: #039be5;
    background-size: 24px;
}
