
//- Блок комментария на детальной страницы "Практика"
mixin comment
    .comment
        .__text
            p В элитный бутик драгоценностей, расположенный на Кузнецком мосту, прибыли сотрудники прокуратуры с внеплановой проверкой, что послужило основанием для обращения к адвокату генерального директора бренда на территории РФ.
            p По прибытию адвоката на место были установлены обстоятельства, а также причины и основания проведения внеплановой прокурорской проверки.
            p Адвокатом были опрошены и проинструктированы сотрудники бутика, а также была выработана стратегия защиты в рамках прокурорской проверки.
            p Результат: В ходе прокурорской проверки нарушений законодательства не было выявлено.
        .__author
            .__author-img
                img(src='img/comment/avatar.png')
            .__author-data
                .__author-name Петр Петрович Сидоров
                .__author-post адвокат