.header {
    @include md-block {
        border-bottom: none;
    }
    border-bottom: 1px solid #f7f7f7;

    &__mobule-icon {
        @include md-block {
            display: none;
        }
        display: flex;
        width: 28px;
        height: 25px;
    }

    &__inner {
        @include md-block {
            flex-direction: column;
            align-items: inherit;
            justify-content: flex-start;
            padding: 0;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 19px 0 17px;
    }

    &__top {
        @include xxl-block {
            padding-top: 32px;
            padding-bottom: 35px;
        }

        @include md-block {
            order: inherit;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        box-sizing: border-box;
        display: flex;
        align-items: center;
        order: 1;
    }

    &__middle {
        @include md-block {
            order: inherit;
        }
        display: flex;
        align-items: center;
        order: 0;
    }

    &__location {
        @include md-block {
            display: block;
        }
        display: none;
        line-height: 0;
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;

        &-phones {
            @include md-block {
                display: block;
            }
            display: none;
        }

        &-call {
            & .back-call {
                transition: none;
            }
        }
    }


    &:not(.active) & {
        &__contacts-call {
            @include md-block {
                margin-left: 40px;
            }

            & .back-call {
                @include to(767px) {
                    padding: 4px;
                    line-height: 0;
                }

                &__icon {
                    @include md-block {
                        display: none;
                    }
                    display: block;
                }

                &__text {
                    @include md-block {
                        display: inline-block;
                    }
                    display: none;
                }
            }
        }
    }

    &__logo {
        margin-right: auto;
        line-height: 0;
    }

    &__search {
        @include xxl-block {
            margin-left: 55px;
        }

        @include lg-block {
            margin-left: 30px;
        }

        @include md-block {
            display: block;
            margin-left: 20px;
        }
        display: none;
        line-height: 0;
    }

    &__menu {
        @include xxl-block {
            width: #{calc(100% - #{$logo-width-xxl + 80px})};
        }

        @include md-block {
            display: flex;
            justify-content: flex-end;
            width: #{calc(100% - #{$logo-width + 50px})};
        }

        display: none;
    }

    // Открытие поиска в хедере
    &__middle.active & {
        &__menu {
            display: none;
        }

        &__search {
            position: absolute;
            right: 0;
            width: #{calc(100% - 350px)};
            max-width: 975px;
            background: #fff;

            .search {
                border-bottom: 1px solid rgba(26, 60, 64, 0.3);
            }

            .search__form {
                display: block;
            }

            .search__icon-mobile {
                display: none;
            }

            .search__icon-cross {
                display: block;
            }
        }
    }

    & .container {
        max-width: rem(1680);
    }

    &.active {
        box-sizing: border-box;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;

        .container {
            padding: 0;
        }
    }

    &.active & {

        &__inner {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__mobule-icon {
            padding-left: 16px;
        }

        &__logo {
            display: none;
        }

        &__location {
            display: block;
            position: absolute;
            top: 19px;
            left: 72px;
        }

        &__top {
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 48px;
        }

        &__middle {
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            padding: 24px 24px 24px 48px;
            margin-top: 26px;
            border-top: 1px solid #f7f7f7;
            border-bottom: 1px solid #f7f7f7;
        }

        &__search {
            display: block;
            margin-top: 24px;
            width: 100%;

            .search {
                border-bottom: 1px solid rgba(26, 60, 64, 0.3);
            }

            .search__form {
                display: block;
            }

            .search__icon-mobile, .search__icon-cross {
                display: none;
            }
        }

        &__contacts {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &-call {
                margin-top: 32px;
            }

            &-phones {
                display: block;
                margin-top: 24px;

                .phones-block {
                    display: flex;
                    flex-direction: column;
                }

                .phone-link {
                    margin-left: 0;
                }
            }
        }

        &__menu {
            display: block;

            .menu__list {
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0;
            }

            .menu__item {
                margin-left: 0;
                margin-bottom: 20px;
                line-height: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}