include ../ui-kit/ui-kit


mixin subscribe(title = 'Подпишитесь на рассылку')
    .subscribe
        if title
            .__title=title
        form.__form.js-form-subscribe
            input(type='email' name='email' placeholder='Электронная почта' required).__input
            +button('Подписаться', 'subscribe', 'submit')
