//- Блок тегов

mixin tag(name)
    li.tags__item
        a(href='#').tags__name=name

mixin tags(data)
    include tags.data.pug
    if (!data)
        - data = tagsData
    ul.tags
        for tag in data
            +tag(tag)

