//- Блок тегов

mixin tag(name, isLink=true)
    li.tags__item
        if isLink
            a(href='#').tags__name=name
        else
            span.tags__name=name

mixin tags(data, isLink=true)
    include tags.data.pug
    if (!data)
        - data = tagsData
    ul.tags
        for tag in data
            +tag(tag, isLink)

