include ../logo-3d/logo-3d

//- Первый экран на главной

mixin first-screen
    .first-screen
        .container
            .first-screen__inner
                .first-screen__data
                    h1.first-screen__title Судебно-экспертное агентство
                    .first-screen__subtitle Опытные эксперты, современная научно-методическая база и программно-техническое обеспечение
                .first-screen__logo
                    +logo-3d

