.first-screen {
    @include xl-block {
        min-height: 700px;
    }

    @include lg-block {
        margin-right: 40px;
        padding-top: 85px;
        padding-bottom: 42px;
    }
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;

    &__inner {
        @include lg-block {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
    }

    &__data {
        @include xl-block {
            max-width: 833px;
        }

        @include lg-block {
            max-width: 600px;
        }
        width: 100%;
    }

    &__logo {
        @include xl-block {
            max-width: 650px;
        }

        @include to($break_xxl) {
            max-width: 600px;
        }

        @include to($break_xl) {
            max-width: 500px;
            & .logo-3d {
                height: auto;
                & svg {
                    height: 750px !important;
                }
            }
        }

        @include to(30rem) {
            & .logo-3d svg {
                height: 700px !important;
            }
        }

        @include to(22rem) {
            & .logo-3d svg {
                height: 420px !important;
            }
        }

        @include lg-block {
            position: absolute;
            top: 0;
            right: 0;
        }
        margin-bottom: -50px;
    }
    
    &__title {
        @include xl-block {
            font-size: 70px;
            line-height: 80px;
            margin-bottom: 24px;
        }

        @include lg-block {
            font-size: 50px;
            line-height: 60px;
        }
        font-family: $title-font;
        font-style: normal;
        font-weight: $bold;
        color: #233d63;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    &__subtitle {
        @include xl-block {
            max-width: 553px;
            font-size: 20px;
            line-height: 32px;
        }
        width: 100%;
        color: #4e5051;
        max-width: 400px;
        font-size: 18px;
        line-height: 28px;
    }

    & .container {
        @include margin-left-centered;
        max-width: 100%;
    }
}