include ../ui-kit/ui-kit

mixin presentation
    .presentation
        .__data
            .__title Презентация агентства
            .__text Стаж экспертов экспертов более 10 лет. 30 видов экспертиз. Более 50 профессионалов в команде.
        .__link
            +button-link('Скачать презентацию', 'big')