-
    const menuFooter = [
        {
            name: 'Услуги',
        },
        {
            name: 'Онлайн-сервисы'
        },
        {
            name: 'Практика',
        },
        {
            name: 'О компании'
        },
        {
            name: 'Карточки',
        },
        {
            name: 'Вакансии',
        },
        {
            name: 'Публикации',
        },
        {
            name: 'Контакты'
        },
    ];