
.menu-footer {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        width: 50%;
        margin-bottom: 20px;
    }

    &__link {
        @include transitionEaseOutQuint(border);
        text-decoration: none;
        font-size: 18px;
        line-height: 34px;
        color: $menu-color;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom-color: $menu-color;
        }
    }
}