.phones-block {
    display: flex;
    align-items: center;
    & .phone-link {

    }
}

.phone-link {
    @include transitionEaseOutQuint(border);
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: $header-top-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    margin-left: 32px;
    &:hover {
        border-bottom-color: $header-top-color;
    }
}
