
.menu {
    display: flex;
    align-items: center;
    position: relative;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin-left: 20px;
        justify-content: flex-end;
    }

    &__item {
        @include xxl-block {
            margin-left: 40px;
        }
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        @include xxl-block {
            font-size: 18px;
            line-height: 24px;
        }
        @include transitionEaseOutQuint(border);
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: $menu-color;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom-color: $menu-color;
        }
    }

    &__item.active &__link {
        color: $button-color;
        border-bottom-color: $button-color;
    }
}