-
    const menu = [
        {
            name: 'Услуги',
        },
        {
            name: 'Практика',
        },
        {
            name: 'Карточки',
        },
        {
            name: 'Публикации',
        },
        {
            name: 'Онлайн-сервисы',
            isCurrent: true
        },
        {
            name: 'О компании'
        },
        {
            name: 'Контакты'
        },
    ];