.modal {
    max-width: 796px;

    &__inner {
        @include md-block {
            padding: 64px 80px 70px;
        }
        box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
        background-color: #fff;
        padding: 32px 20px 40px;
    }

    &__close {
        @include md-block {
            top: 40px;
            right: 56px;
        }
        position: absolute;
        top: 15px;
        right: 15px;
    }
}