include ../ui-kit/ui-kit
//- Карточка публикации

mixin p-card(card)
    include ../tags/tags
    .p-card
        a(href='#').__pic
            .__img(style=`background-image: url(${card.img})`)
        .__date=card.date
        a(href='#').__title=card.title
        .__tags
            +tags(card.tags)


mixin p-card-list(pCardList)
    .p-card-list
        for pCard in pCardList
            +p-card(pCard)

mixin p-card-section(title=false)
    include p-card.data.pug
    +section(title)
        +p-card-list(getPCardList(9))
        .section__buttons
            +button-show-more


