extends ../layouts/default
include ../../blocks/components/presentation/presentation

block variables
	- const title = "О компании";
	- h1 = title
	include ../data/inner


block content
	.text
		img(src='img/about/bg.jpg')
		ol
			li Полное название АНО «Лингва-Эксперт» – автономная некоммерческая организация «Лингвистический экспертно-консультационный центр». Первое время оно соответствовало нашей основной деятельности – мы занимались только лингвистической экспертизой и консультированием. Сегодня перечень наших услуг заметно расширился, а название осталось и превратилось в узнаваемый брэнд.
			li Основная наша деятельность – производство судебных экспертиз и исследований, как отдельных, так комплексных. Мы успешно работаем с государственными учреждениями, юридическими и физическими лицами.
			li Мы работаем с 2006 года и лично отвечаем за результат каждой экспертизы или исследования, поэтому наши эксперты не раз представляли свои заключения в суде. Чтобы повышать качество своей экспертной работы, мы регулярно учимся и внедряем современное оборудование и ПО.
			li В команде «Лингва-Эксперт» работают только высококлассные специалисты с профильным образованием и сертификатами соответствия по экспертным специальностям.
			li Недавно мы поняли, что слишком мало людей знают о судебной экспертизе, и теперь хотим больше рассказывать о ее возможностях в правозащитной деятельности. Для этого мы открыли канал на платформе Яндекс.Дзен и стараемся быть более активными в мессенджерах и соцсетях.
	+presentation






