extends ../layouts/default
include ../../blocks/components/first-screen/first-screen
include ../../blocks/components/p-card/p-card
include ../../blocks/components/services/services
include ../../blocks/components/card/card
include ../../blocks/components/services-all/services-all
include ../../blocks/components/features/features
include ../../blocks/components/consultation/consultation

block variables
	- const title = "Главная";

block content
	+first-screen
	.container
		+services-section('Наши услуги', false, true)
		+services-all-section
		+features-section
		+p-card-slider('Публикации')
		+card-slider('Карточки')
		+consultation-section


