extends ../layouts/default
include ../../blocks/components/practice/practice


block variables
	- const title = "Практика";
	- h1 = title
	include ../data/inner


block content
	+practice-section





