$logo-width-xxl: 386px;
$logo-width: 300px;

.logo {

    @include xxl-block {
        max-width: $logo-width-xxl;
        height: 73px;
    }

    @include md-block {
        max-width: $logo-width;
        height: 65px;
    }
    display: inline-block;
    width: 100%;
    max-width: 183px;
    height: 34px;

    & img {
        max-width: 100%;
        max-height: 100%;
    }
}