include ../section/section
include ../ui-kit/ui-kit

mixin vacancy
    .vacancy
        .__header
            .__data
                .__title Оценщик в штат
                .__meta
                    span Москва, Тульская
                    span Высшее образование, полная занятость
                .__price
                    span от
                    |
                    |
                    b 70 000 ₽
            .__preview
                p
                    b Обязанности:
                ul
                    li Проведение оценочных экспертиз и исследований.
                    li Рецензирование экспертных заключений.
                    li Проведение консультаций по вопросам назначения экспертиз и проведения исследований. Подготовка отчетов об оценке жилой недвижимости, загородной недвижимости, земельных участков, коммерческой недвижимости;
                    li оценке бизнеса; автомобилей.
        .__footer
            .__phone
                a(href=phoneReplace('+7 (495) 784-84-28')) +7 (495) 784-84-28
            .__link
                +button-link('Подробнее', false, '#')


mixin vacancy-section
    +section
        .vacancy-list
            - let i = 0;
            while i < 3
                +vacancy
                - i++