include ../icon/icon
include ../tags/tags
include ../files-pdf/files-pdf

//- Блок с контента детальной страницы услуг

mixin services-detail
    section.services-detail
        .__head
            .__img(style=`background-image: url(img/services-detail/bg.jpg)`)
            .__text
                .text
                    p
                        b Лингвистическая экспертиза
                        |
                        | — самостоятельный род судебной экспертизы, где вопросы решаются с помощью анализа продуктов речевой деятельности.
                    h3 Объекты лингвистической экспертизы
                    p Лингвистическая экспертиза решает идентификационные, классификационные, диагностические и профилактические задачи. Так, помощь лингвистов требуется, чтобы установить:
                    ul
                        li Наличие и характеристики негативной информации (дела о защите чести, достоинства и деловой репутации, об оскорблении, клевете)
                        li Идет ли речь о передаче денег (дела о коррупции)
                        li Значение спорных положений в юридических документах
                        li Соответствие требованиям законодательства (дела о рекламе)
                        li Криминалистически важное содержание (дела об экстремизме)
                        li Степень сходства и различия текстов (дела по защите авторских прав)
                        li Наличие фактических, логических и прочих несоответствий
                    h3 Типовые вопросы лингвистической экспертизы
                    p Для вашего удобства и предварительного ознакомления мы разработали списки типовых вопросов для лингвистической экспертизы текста по различным категориям дел. Скачивайте их по ссылкам ниже.

                    p В перечнях приведены не все возможные вопросы, а лишь самые распространенные. Мы рекомендуем при назначении экспертизы в каждом конкретном случае заранее обсудить и согласовать их на консультации с экспертом.
                    p Чтобы провести лингвистическую экспертизу, оставьте заявку на сайте или свяжитесь с нами удобным для вас способом.

            .__meta
                .__files
                    +files-pdf
                .__tags.tags-wrap
                    span.tags-title Теги:
                    +tags


