//- Логотип в 3d

mixin logo-3d
    .logo-3d
        svg(width='1160', height='900', viewBox='0 115 1160 734', fill='none', xmlns='http://www.w3.org/2000/svg')

            g.a
                path(d='M546.028 172.647L522.367 187.036L853.656 388.414L877.317 374.032L546.028 172.647Z', fill='#66D8D2')
                path(d='M522.367 187.036V215.75L853.656 417.185V388.414L522.367 187.036Z', fill='#395454')
                path(d='M877.317 374.032L853.656 388.414V417.185L877.317 402.796V374.032Z', fill='#477776')
                path(d='M661.319 332.545V361.259L779.638 433.234V404.47L661.319 332.545Z', fill='#395454')
                path(d='M803.299 390.088L779.638 404.47V433.234L803.299 418.852V390.088Z', fill='#477776')
                path(d='M684.98 318.163L661.319 332.545L779.637 404.47L803.465 390.247L684.98 318.163Z', fill='#66D8D2')
                path(d='M661.303 332.563L542.991 404.459L566.652 418.841L684.971 346.945L661.303 332.563Z', fill='#66D8D2')
                path(d='M542.992 404.459V433.173L566.653 447.612V418.841L542.992 404.459Z', fill='#395454')
                path(d='M684.972 346.945L566.653 418.841V447.612L684.972 375.709V346.945Z', fill='#477776')
                path(d='M519.327 418.343V447.057L637.64 518.974V490.21L519.327 418.343Z', fill='#395454')
                path(d='M661.307 475.821L637.64 490.21V518.974L661.307 504.592V475.821Z', fill='#477776')
                path(d='M542.989 403.961L519.328 418.343L661.597 505.094L685.265 490.705L542.989 403.961Z', fill='#66D8D2')
                path(d='M661.825 476.276L614.496 505.04L638.157 519.429L685.486 490.658L661.825 476.276Z', fill='#66D8D2')
                path(d='M614.497 505.04V533.754L638.158 548.194V519.43L614.497 505.04Z', fill='#395454')
                path(d='M685.487 490.658L638.158 519.429V548.194L685.487 519.429V490.658Z', fill='#477776')
                path(d='M522.787 187.036L284.682 332.338L308.35 346.727L546.455 201.418L522.787 187.036Z', fill='#66D8D2')
                path(d='M284.653 332.406V361.12L308.321 375.559V346.795L284.653 332.406Z', fill='#395454')
                path(d='M546.455 201.418L309.811 345.153V373.917L546.455 230.19V201.418Z', fill='#477776')
                path(d='M830.368 374.028L779.63 404.47L803.298 418.852L853.693 388.374L830.368 374.028Z', fill='#66D8D2')
                path(d='M779.631 404.47V433.184L803.299 447.623V418.852L779.631 404.47Z', fill='#395454')
                path(d='M853.668 388.406L803.299 418.852V447.623L853.668 417.141V388.406Z', fill='#477776')
                path(d='M331.154 331.74L307.486 346.123L615.948 533.698L639.609 519.316L331.154 331.74Z', fill='#66D8D2')
                path(d='M308.321 346.702V375.416L615.571 562.586V533.814L308.321 346.702Z', fill='#395454')
                path(d='M638.99 519.247L615.329 533.629V562.401L638.99 548.019V519.247Z', fill='#477776')
                path(d='M546.193 230.91L522.532 245.292L640.85 317.217L664.511 302.828L546.193 230.91Z', fill='#66D8D2')
                path(d='M522.532 245.292V274.006L640.85 345.981V317.217L522.532 245.292Z', fill='#395454')
                path(d='M664.511 302.828L640.85 317.217V345.981L664.511 331.599V302.828Z', fill='#477776')
                path(d='M522.794 245.292L404.475 317.181L428.136 331.563L546.455 259.675L522.794 245.292Z', fill='#66D8D2')
                path(d='M404.475 317.181V345.895L428.136 360.335V331.563L404.475 317.181Z', fill='#395454')
                path(d='M546.455 259.675L428.136 331.563V360.335L546.455 288.446V259.675Z', fill='#477776')
                path(d='M617.182 302.854L498.87 374.52L522.531 388.902L640.849 317.244L617.182 302.854Z', fill='#66D8D2')
                path(d='M498.87 374.521V403.227L522.531 417.674V388.903L498.87 374.521Z', fill='#395454')
                path(d='M640.85 317.244L522.532 388.902V417.674L640.85 346.008V317.244Z', fill='#477776')
                path(d='M404.212 317.014L380.551 331.396L498.863 403.263L522.531 388.881L404.212 317.014Z', fill='#66D8D2')
                path(d='M380.552 331.396V360.11L498.864 432.027V403.263L380.552 331.396Z', fill='#395454')
                path(d='M522.532 388.881L498.864 403.263V432.027L522.532 417.645V388.881Z', fill='#477776')

            g.e
                path(d='M639.235 115.833L591.906 144.605L615.567 158.987L662.896 130.216L639.235 115.833Z', fill='#66D8D2')
                path(d='M591.906 144.605V173.311L615.568 187.751V158.987L591.906 144.605Z', fill='#395454')
                path(d='M662.896 130.216L615.568 158.987V187.751L662.896 158.987V130.216Z', fill='#477776')
                path(d='M662.893 129.816L639.232 144.198L1041.53 388.65L1065.19 374.26L662.893 129.816Z', fill='#66D8D2')
                path(d='M639.232 144.198V172.912L1041.53 417.414V388.65L639.232 144.198Z', fill='#395454')
                path(d='M1065.19 374.26L1041.53 388.65V417.414L1065.19 403.032V374.26Z', fill='#477776')
                path(d='M592.568 144.757L568.907 159.139L923.856 374.906L947.524 360.517L592.568 144.757Z', fill='#66D8D2')
                path(d='M568.907 159.139V187.853L923.857 403.67V374.906L568.907 159.139Z', fill='#395454')
                path(d='M947.525 360.517L923.857 374.906V403.67L947.525 389.288V360.517Z', fill='#477776')
                path(d='M804.731 446.622V475.336L828.399 489.775V461.011L804.731 446.622Z', fill='#395454')
                path(d='M970.379 374.705L802.579 476.182V504.946L970.379 403.469V374.705Z', fill='#477776')
                path(d='M946.718 360.315L802.705 447.378L826.373 461.767L970.379 374.705L946.718 360.315Z', fill='#66D8D2')
                path(d='M684.433 375.408L660.772 389.79L802.752 476.068L826.42 461.686L684.433 375.408Z', fill='#66D8D2')
                path(d='M660.772 389.79V418.504L802.752 504.839V476.068L660.772 389.79Z', fill='#395454')
                path(d='M826.42 461.686L802.752 476.068V504.839L826.42 490.45V461.686Z', fill='#477776')
                path(d='M660.772 389.79L637.104 404.193L660.772 418.575L684.433 404.179L660.772 389.79Z', fill='#66D8D2')
                path(d='M637.104 404.193V432.907L660.772 447.346V418.575L637.104 404.193Z', fill='#395454')
                path(d='M684.433 404.179L660.772 418.575V447.346L684.433 432.943V404.179Z', fill='#477776')
                path(d='M637.111 404.061L613.443 418.45L755.423 504.757L779.091 490.367L637.111 404.061Z', fill='#66D8D2')
                path(d='M613.443 418.45V447.164L755.423 533.521V504.757L613.443 418.45Z', fill='#395454')
                path(d='M779.091 490.367L755.423 504.757V533.521L779.091 519.139V490.367Z', fill='#477776')
                path(d='M734.548 488.812L592.568 575.118L616.229 589.501L758.216 503.194L734.548 488.812Z', fill='#66D8D2')
                path(d='M592.568 575.118V603.825L616.236 618.265L616.229 589.5L592.568 575.118Z', fill='#395454')
                path(d='M758.216 503.194L616.229 589.501L616.236 618.265L758.216 531.965V503.194Z', fill='#477776')
                path(d='M284.113 360.315L260.452 374.697L615.401 590.464L639.069 576.075L284.113 360.315Z', fill='#66D8D2')
                path(d='M260.452 374.698V403.411L615.402 619.228V590.464L260.452 374.698Z', fill='#395454')
                path(d='M639.07 575.689L615.402 590.464V619.228L639.07 604.355V575.689Z', fill='#477776')
                path(d='M260.58 345.898L189.462 389.086L213.123 403.468L284.241 360.287L260.58 345.898Z', fill='#66D8D2')
                path(d='M189.462 389.086V417.8L213.123 432.24V403.468L189.462 389.086Z', fill='#395454')
                path(d='M260.452 374.704L213.123 403.468V432.24L260.452 403.468V374.704Z', fill='#477776')
                path(d='M1028.91 367.616L602.959 626.529L626.62 640.911L1052.57 381.998L1028.91 367.616Z', fill='#66D8D2')
                path(d='M602.959 626.529V655.243L626.62 669.682V640.911L602.959 626.529Z', fill='#395454')
                path(d='M1052.57 381.998L626.62 640.911V669.682L1052.57 410.77V381.998Z', fill='#477776')
                path(d='M236.77 388.967L213.109 403.356L615.408 647.801L639.069 633.419L236.77 388.967Z', fill='#66D8D2')
                path(d='M213.109 403.356V432.063L615.408 676.572V647.801L213.109 403.356Z', fill='#395454')
                path(d='M639.07 633.418L615.409 647.801V676.572L639.07 662.19V633.418Z', fill='#477776')

            g.s
                path(d='M639.178 0.568848L0.30304 388.949L23.9641 403.331L662.839 14.9581L639.178 0.568848Z', fill='#66D8D2')
                path(d='M0.303112 388.949V417.656L23.9642 432.095V403.331L0.303112 388.949Z', fill='#395454')
                path(d='M662.839 14.958L23.9641 403.331V432.095L662.839 43.7221V14.958Z', fill='#477776')
                path(d='M662.674 14.958L639.013 29.3401L1112.32 316.816L1135.98 302.427L662.674 14.958Z', fill='#66D8D2')
                path(d='M639.013 29.3401V58.0539L1112.32 345.58V316.816L639.013 29.3401Z', fill='#395454')
                path(d='M1135.98 302.427L1112.32 316.816V345.58L1135.98 331.198V302.427Z', fill='#477776')
                path(d='M48.5227 388.947L24.8617 403.329L498.171 690.804L521.832 676.415L48.5227 388.947Z', fill='#66D8D2')
                path(d='M24.8617 403.329V432.042L498.171 719.568V690.804L24.8617 403.329Z', fill='#395454')
                path(d='M521.832 676.415L498.171 690.804V719.568L521.832 705.186V676.415Z', fill='#477776')
                path(d='M1135.97 302.013L1088.64 330.785L1112.31 345.167L1159.63 316.395L1135.97 302.013Z', fill='#66D8D2')
                path(d='M1088.64 330.785V359.491L1112.31 373.938V345.167L1088.64 330.785Z', fill='#395454')
                path(d='M1159.63 316.396L1112.31 345.167V373.938L1159.63 345.167V316.396Z', fill='#477776')
                path(d='M638.997 57.7278L615.336 72.1098L1088.65 359.586L1112.31 345.196L638.997 57.7278Z', fill='#66D8D2')
                path(d='M615.336 72.1099V100.824L1088.65 388.35V359.586L615.336 72.1099Z', fill='#395454')
                path(d='M1112.31 345.196L1088.65 359.586V388.35L1112.31 373.968V345.196Z', fill='#477776')
                path(d='M615.352 72.0811L94.7755 388.551L118.437 402.94L639.013 86.4703L615.352 72.0811Z', fill='#66D8D2')
                path(d='M94.7754 388.551V417.265L118.436 431.704V402.94L94.7754 388.551Z', fill='#395454')
                path(d='M639.013 86.4702L118.437 402.94V431.704L639.013 115.234V86.4702Z', fill='#477776')
                path(d='M119.506 374.539L95.8448 388.921L569.154 676.396L592.815 662.007L119.506 374.539Z', fill='#66D8D2')
                path(d='M95.8448 388.921V417.634L569.154 705.16V676.396L95.8448 388.921Z', fill='#395454')
                path(d='M592.815 662.007L569.154 676.396V705.16L592.815 690.778V662.007Z', fill='#477776')
                path(d='M545.493 662.007L498.164 690.778L521.832 705.16L569.154 676.389L545.493 662.007Z', fill='#66D8D2')
                path(d='M498.165 690.778V719.492L521.832 733.932V705.16L498.165 690.778Z', fill='#395454')
                path(d='M569.154 676.389L521.832 705.16V733.932L569.154 705.16V676.389Z', fill='#477776')



