extends layouts/pages

block variables
    - const title = "СЭА"

block content
    .container
        h1=title
        ul
            li
                a(href="main.html") Главная
            li
                a(href="services.html") Услуги