extends layouts/pages

block variables
    - const title = "СЭА"

block content
    .container
        .text
            h1=title
            ul
                li
                    a(href="main.html") Главная
                li
                    a(href="services.html") Услуги
                li
                    a(href="services-detail.html") Услуги - детальная
                li
                    a(href="publications.html") Публикации
                li
                    a(href="publications-detail.html") Публикации - детальная
                li
                    a(href="practice-detail.html") Практика - детальная
                li
                    a(href="cards.html") Карточки
                li
                    a(href="cards-detail.html") Карточки - детальная
                li
                    a(href="online-services.html") Онлайн-сервисы
                li
                    a(href="vacancies.html") Вакансии
                li
                    a(href="vacancies-detail.html") Вакансии - детальная
                li
                    a(href="about.html") О компании