.search {
    line-height: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &__form {
        display: none;
        width: #{calc(100% - 30px)};
    }

    &__input {
        @include outline-none();
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 13px 40px 13px 40px;
        font-size: 18px;
        line-height: 24px;
        color: #64697a;
        background: transparent url(icon-search()) no-repeat 0;
        background-size: 20px;
    }

    &__icon-cross {
        display: none;
    }

    &--result & {
        width: 100%;

        &__form {
            @include sm-block {
                flex-direction: row;
            }
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__input {
            @include sm-block {
                width: #{calc(100% - 220px)};
                margin-right: 40px;
                margin-bottom: 0;
            }
            border-bottom: 1px solid rgba(26, 60, 64, 0.3);
            width: 100%;
            margin-bottom: 10px;
        }
    }
}