include ../ui-kit/ui-kit

//- Форма поиска в хедере и на странице поиска

mixin search(isSearchPage = false)
    include ../ui-kit/ui-kit
    include ../icon/icon
    .search(class=isSearchPage ? 'search--result' : '')
        if !isSearchPage
            +icon('search', ['search__icon-mobile', 'js-header-search-open'])
        form(action='' method='GET').__form
            input.__input(name='q' placeholder='Поиск по сайту')
            if isSearchPage
                +button('Найти', 'search-result', 'submit')
        if !isSearchPage
            +icon('search-cross', ['search__icon-cross', 'js-header-search-close'])