//- Форма поиска в хедере

mixin search
    include ../ui-kit/ui-kit
    include ../icon/icon
    .search
        +icon('search', ['search__icon-mobile'])
        form(action='' method='GET').__form
            input.__input(name='q' placeholder='Поиск по сайту')
            +button('Найти', 'search', 'submit')