//- Форма поиска в хедере

mixin search
    include ../ui-kit/ui-kit
    include ../icon/icon
    .search
        +icon('search', ['search__icon-mobile', 'js-header-search-open'])
        form(action='' method='GET').__form
            input.__input(name='q' placeholder='Поиск по сайту')
        +icon('cross', ['search__icon-cross', 'js-header-search-close'])