-
    const servicesList = [
        'Психологическая экспертиза',
        'Химическая экспертиза',
        'Инженерно-техническая экспертиза',
        'Медицинская экспертиза',
        'Автороведческая экспертиза',
        'Историческая экспертиза',
        'Историческая экспертиза',
        'Бухгалтерская экспертиза',
        'Экологическая экспертиза'
    ];