.services {

    @include from($break_tablet_content) {
        margin-bottom: 80px;
    }

    @include sm-block {
        margin-bottom: 60px;
    }
    margin-bottom: 40px;

    &__list {
        @include row-flex;
        @include sm-block {
            margin-bottom: -64px;
        }
        margin-bottom: -32px;
    }

    &__item {

        @include from($break_tablet_content) {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 64px;
        }

        @include sm-block {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 32px;
        }
        @include col;
        @include size-lg(4);
        @include size-sm(6);
        @include size(12);
        font-size: 18px;
        line-height: 30px;
        color: #443e3e;
        text-decoration: none;
        margin-bottom: 24px;
        display: inline-flex;
    }

    &__item-icon {
        margin-right: 24px;
        width: 32px;
    }

    &__item-title {
        width: #{calc(100% - 60px)};
    }
}