
//- Блок вопросов на детальной страницы "Практика"
mixin questions
    .questions
        .__item
            span.__number 1.
            span.__text Текст вопроса, нужно понимать, сколько их будет?
        .__item
            span.__number 2.
            span.__text Текст вопроса, нужно понимать, сколько их будет?
        .__item
            span.__number 3.
            span.__text Текст вопроса, нужно понимать, сколько их будет?