include ../icon/icon

//- Блок файлов pdf в детальной услуг

mixin files-pdf
    .files-pdf
        .__list
            a(href="#").__item
                +icon('pdf')
                .__text Типовые вопросы лингвистической экспертизы (по гражданским делам)
            a(href="#").__item
                +icon('pdf')
                .__text Типовые вопросы лингвистической экспертизы (по делам об административных правонарушениях)
            a(href="#").__item
                +icon('pdf')
                .__text Типовые вопросы лингвистической экспертизы (по уголовным делам)

