include ../ui-kit/ui-kit
include ../section/section

//- Декоративный блок с ссылкой на все услуги, на главной странице

mixin services-all
    .services-all
        .__inner
            .__text
                | В каталоге услуг вы сможете найти
                |
                br
                b более 20 видов
                |
                |экспертиз и исследований
            .__button
                +button-transparent('Все услуги')(class='button--show-all')
        .__decor
            svg(width='545', height='330', viewBox='0 0 545 330', fill='none', xmlns='http://www.w3.org/2000/svg')
                g.white
                    path(d='M194.648 23L389.101 217.452L194.452 412.102L-0.000762469 217.649L194.648 23ZM297.575 204.935L168.288 334.223L129.248 295.227L180.846 243.307L168.245 230.794L116.628 282.558L78.2393 244.169L207.524 114.885L194.25 101.61L52.0337 243.826L168.275 360.067L310.491 217.851L297.575 204.935ZM220.44 127.8L104.081 244.159L116.685 256.762L168.165 204.95L206.69 243.201L155.073 295.15L168.301 308.378L284.659 192.02L220.44 127.8ZM194.263 75.7658L336.335 217.838L181.19 372.983L194.465 386.257L363.256 217.465L194.635 48.8444L25.8436 217.636L39.1181 230.911L194.263 75.7658Z', fill='#fff')
                    path(d='M258.098 192.032L219.671 230.459L181.283 192.07L219.71 153.643L258.098 192.032ZM219.697 179.488L207.127 192.057L219.684 204.614L232.254 192.045L219.697 179.488Z', fill='#fff')
                path(d='M401.453 23L207.001 217.452L401.65 412.102L596.102 217.649L401.453 23ZM298.527 204.935L427.814 334.223L466.854 295.227L415.256 243.307L427.857 230.794L479.474 282.558L517.862 244.169L388.577 114.885L401.852 101.61L544.068 243.826L427.827 360.067L285.611 217.851L298.527 204.935ZM375.662 127.8L492.02 244.159L479.417 256.762L427.936 204.95L389.411 243.201L441.029 295.15L427.801 308.378L311.442 192.02L375.662 127.8ZM401.839 75.7658L259.766 217.838L414.911 372.983L401.637 386.257L232.845 217.465L401.466 48.8444L570.258 217.636L556.983 230.911L401.839 75.7658Z', fill='#007B75')
                path(d='M338.003 192.032L376.43 230.459L414.819 192.07L376.392 153.643L338.003 192.032ZM376.405 179.488L388.974 192.057L376.417 204.614L363.848 192.045L376.405 179.488Z', fill='#007B75')



mixin services-all-section
    +section
        +services-all
