include ../ui-kit/ui-kit
include ../select/select
include ../icon/icon

mixin online-service-expertise
    .online-service.active(data-tab-content='expertise')
        .__inner
            .__title.form-title Заявка на проведение экспертизы
            form.form.__form.validator.js-form-service
                .__body
                    .__row
                        .__hulf
                            +field('fio', 'ФИО')(data-validator-require='true')
                        .__hulf
                            +field('city', 'Город')(data-validator-require='true')
                    .__row
                        .__hulf
                            +field('phone', 'Телефон')(data-validator-require='true' data-validator-type='phone' class='js-mask-phone')
                        .__hulf
                            +field('email', 'Email')(data-validator-require='true' data-validator-type='email')
                    .__row
                        .__hulf
                            +select([
                                {
                                    value: '1',
                                    text: 'test'
                                },
                                {
                                    value: '2',
                                    text: 'test test'
                                },
                                {
                                    value: '3',
                                    text: 'test test test'
                                }
                            ],'who', 'Вы выступаете как')(data-validator-require='true')
                        .__hulf
                            +select([
                                {
                                    value: '1',
                                    text: 'test'
                                },
                                {
                                    value: '2',
                                    text: 'test test'
                                },
                                {
                                    value: '3',
                                    text: 'test test test'
                                }
                            ],'type', 'Вид экспертизы')(data-validator-require='true')
                    .__row
                        .__full
                            +field-area('meterials', 'Перечень материалов и объектов, которые будут представлены на исследование')(data-validator-require='true')
                            .__file
                                +field-file('files', 'Прикрепить файл')(data-validator-require='true')
                    .__row
                        .__full
                            +field-area('questions', 'Вопросы, которые будут поставлены на экспертизу')(data-validator-require='true')

                .__body
                    .form-subtitle Данные для подготовки договора
                    .form__block
                        .form__block-title Для физических лиц
                        .form__row
                            .form__hulf
                                +field('fio_physic', 'ФИО')(data-validator-require='true')
                            .form__hulf
                                +field('city_physic', 'Город')(data-validator-require='true')
                        .form__row
                            .form__hulf
                                +field('passport_number_physic', 'Номер паспорта')(data-validator-require='true')
                            .form__hulf
                                +field('passport_series_physic', 'Серия паспорта')(data-validator-require='true')
                        .form__row
                            .form__full
                                +field-area('passport_who_physic', 'Кем и когда выдан паспорт')(data-validator-require='true')
                    .form__block
                        .form__block-title Для юридических лиц
                        .form__row
                            .form__full
                                .form__file
                                    +field-file('card_org', 'Прикрепить карточку организации')(data-validator-require='true')
                .__footer
                    .__button
                        +button('Отправить', false, 'submit')(class='consultation__button')
                    .__policy.consultation__policy Нажимая на кнопку «Отправить», вы подтверждаете свое согласие на обработку персональных данных
