include ../ui-kit/ui-kit
include ../select/select
include ../icon/icon
include ./online-services-expertise
include ./online-services-letter
include ./online-services-call
include ./online-services-review

mixin online-services
    .online-services.js-tabs
        .__header
            .__tabs-title
                span Выберите интересующий вид экспертизы:
            .tabs.__tabs
                .__item.js-tabs-item.active(data-tab='expertise')
                    .__icon
                        +icon('expertise')
                    .__title Проведение экспертизы
                .__item.js-tabs-item(data-tab='letter')
                    .__icon
                        +icon('letter')
                    .__title Проведение экспертизы
                .__item.js-tabs-item(data-tab='review')
                    .__icon
                        +icon('review')
                    .__title Рецензия
                .__item.js-tabs-item(data-tab='call')
                    .__icon
                        +icon('call')
                    .__title Обратный звонок

        .__body.js-tabs-content
            +online-service-expertise
            +online-service-letter
            +online-service-call
            +online-service-review