.breadcrumbs {
    list-style-type: none;

    &__link {
        text-decoration: none;
    }

    &__item, &__item &__link {
        @include sm-block {
            font-size: 13px;
            line-height: 18px;
        }
        display: inline-block;
        position: relative;
        font-style: italic;
        font-size: 13px;
        line-height: 16px;
        color: #a9abb1;
    }

    &__item:not(:last-child):after {
        @include sm-block {
            padding: 0 10px;
        }
        content: "/";
        display: inline-block;
        padding: 0 8px;
    }
}
