include ../section/section
include ../tags/tags

mixin cards-detail
    +section(false, 'section--bordered')
        .with-sidebar
            .sidebar
                .card-sidebar
                    .__count 4 карточки
                    .__list
                        a(href='#card-content-1').__item
                            span.__number 1.
                            span.__text Кто виноват и как вообще быть?
                        a(href='#card-content-2').__item
                            span.__number 2.
                            span.__text Что делать?
                        a(href='#card-content-3').__item
                            span.__number 3.
                            span.__text Что? Да!
                        a(href='#card-content-4').__item
                            span.__number 4.
                            span.__text Итоги

            .content
                .__box
                    +card-content({
                        number: 1,
                        title: 'Кто виноват и как вообще быть?'
                    })
                        ol
                            li При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                            li При направлении материалов на экспертизу все образцы почерка и подписей должны быть перечислены в постановлении/определении о назначении экспертизы с указанием листа дела. Требования к образцам почерка и подписи подробно описаны в соответствующей статье.
                            li При кратком изложении фабулы дела в необходимых случаях (исследование подписей лиц пожилого и старческого возраста, больных и т.д.) следует указать возраст, состояние здоровья лица, от чьего имени исследуется подпись, на момент составления исследуемого документа, а также известные на момент назначения экспертизы обстоятельства и условия, при которых составлялся документ.
                        p При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                    +card-content({
                        number: 2,
                        title: 'Что делать?'
                    })
                        p При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                        p При направлении материалов на экспертизу все образцы почерка и подписей должны быть перечислены в постановлении/определении о назначении экспертизы с указанием листа дела. Требования к образцам почерка и подписи подробно описаны в соответствующей статье.
                        p При кратком изложении фабулы дела в необходимых случаях (исследование подписей лиц пожилого и старческого возраста, больных и т.д.) следует указать возраст, состояние здоровья лица, от чьего имени исследуется подпись, на момент составления исследуемого документа, а также известные на момент назначения экспертизы обстоятельства и условия, при которых составлялся документ.
                    +card-content({
                        number: 3,
                        title: 'Что? Да!'
                    })
                        p При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                        p При направлении материалов на экспертизу все образцы почерка и подписей должны быть перечислены в постановлении/определении о назначении экспертизы с указанием листа дела. Требования к образцам почерка и подписи подробно описаны в соответствующей статье.
                        p При кратком изложении фабулы дела в необходимых случаях (исследование подписей лиц пожилого и старческого возраста, больных и т.д.) следует указать возраст, состояние здоровья лица, от чьего имени исследуется подпись, на момент составления исследуемого документа, а также известные на момент назначения экспертизы обстоятельства и условия, при которых составлялся документ.
                    +card-content({
                        number: 4,
                        title: 'Итоги'
                    })
                        p При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                        p При направлении материалов на экспертизу все образцы почерка и подписей должны быть перечислены в постановлении/определении о назначении экспертизы с указанием листа дела. Требования к образцам почерка и подписи подробно описаны в соответствующей статье.
                        p При кратком изложении фабулы дела в необходимых случаях (исследование подписей лиц пожилого и старческого возраста, больных и т.д.) следует указать возраст, состояние здоровья лица, от чьего имени исследуется подпись, на момент составления исследуемого документа, а также известные на момент назначения экспертизы обстоятельства и условия, при которых составлялся документ.
                .__tags.tags-wrap
                    span.tags-title Теги:
                    +tags

mixin card-content(data)
    .card-content(id=`card-content-${data.number}`)
        .__number
            span=data.number
        h3.h3.__title=data.title
        .__text
            block