include ../tags/tags
include ../ui-kit/ui-kit
//- Детальная публикации

mixin p-detail(data)
    .p-detail
        .__head
            .__img(style=`background-image: url(img/p-detail/bg.jpg)`)
            .__meta
                .__date 18 декабря 2019
                .__tags
                    span.__tags-title Теги:
                    +tags
            .__text
                .text
                    p При назначении почерковедческой экспертизы исследуемый документ следует предоставить эксперту в оригинале. В отдельных случаях допускается исследование копии документа (при невозможности предоставления оригинала или пригодности копий для исследования). Чтобы заранее оценить пригодность копии, проконсультируйтесь с экспертом.
                    p При направлении материалов на экспертизу все образцы почерка и подписей должны быть перечислены в постановлении/определении о назначении экспертизы с указанием листа дела. Требования к образцам почерка и подписи подробно описаны в соответствующей статье.
                    p При кратком изложении фабулы дела в необходимых случаях (исследование подписей лиц пожилого и старческого возраста, больных и т.д.) следует указать возраст, состояние здоровья лица, от чьего имени исследуется подпись, на момент составления исследуемого документа, а также известные на момент назначения экспертизы обстоятельства и условия, при которых составлялся документ:
                    ul
                        li болезнь;
                        li воздействие лекарственных препаратов;
                        li письмо без очков;
                        li письмо стоя или в неудобной позе;
                        li плохое освещение;
                        li письмо под угрозой и др.
                    p Вопросы, поставленные перед экспертом, должны быть четкими, точными и не должны допускать двоякого толкования. В них должны быть точно названы:
                    ul
                        li объект исследования (например, подпись от имени Ф.И.О.),;
                        li место его расположения (строка, графа или после каких слов) в документе (указать название документа и его реквизиты);
                        li том и лист дела, если документы находятся в томе дела или подшивке документов.
                    p Перечень типовых вопросов почерковедческой экспертизы можно скачать на странице почерковедческой экспертизы в разделе «Экспертизы и исследования».
                    p Соблюдение указанных рекомендаций при оформлении материалов на экспертизу почерка (подписи) – залог быстрого производства экспертизы и получения значимого результата.
            .__buttons
                .__buttons-prev
                    +button-transparent('Назад к списку')(class='button--nav')
                .__buttons-next
                    +button-transparent('Следующая публикация')(class='button--nav')






