$button-search-width: 106px;

.button {
    @include outline-none();
    @include transitionEaseOutQuint(all);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: none;
    padding: 12px 32px;
    background: $button-color;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $button-color-text;
    text-decoration: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &:after {
        content: "";
        position: absolute;
        top: -40px;
        left: -80px;
        width: 70px;
        height: 120px;
        transform: rotate(20deg);
        background: rgba(255, 255, 255, 0.7);
    }

    &--full {
        width: 100%;
    }

    &--transparent {
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 123, 117, 0.3);
        padding: 20px;
        background: transparent;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #393e46;
        transition: all 300ms ease;

        &:after {
            content: none;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            left: auto;
            width: 0%;
            height: 100%;
            transition: all 300ms ease;
            background: $button-color;
        }

        &:hover {
            color: #fff;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $button-color;
            }
        }
    }

    &--white {
        background-color: #fff;
        z-index: 1;

        &:before, &:after {
            z-index: 0;
        }
    }

    &--show-more {
        min-width: 280px;
    }

    &--show-all {
        @include sm-block {
            width: auto;
            min-width: 250px;
        }
        box-sizing: border-box;
        width: 100%;
    }

    &--nav {
        padding-left: 48px;
        padding-right: 48px;
    }

    &--big {
        @include sm-block {
            padding: 18px 48px;
        }
        padding: 18px;
    }

    &--subscribe {
        width: 142px;
        padding: 12px 18px;
        background: #007b75;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
    }

    &--square {
        @include wh(64px);
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: none;
        }

        &:before {
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
        }

        &:hover {
            &:before {
                bottom: 0;
                height: 100%;
            }

            .icon-arrow-down {
                background-image: url(icon-arrow-down("fff"));
            }

            .icon-arrow-top {
                background-image: url(icon-arrow-down("fff"));
            }
        }
    }

    &--search-result {
        @include sm-block {
            padding: 16px 48px;
        }
        box-sizing: border-box;
        min-width: 180px;
        padding: 12px 26px;
    }

    &:hover:after {
        left: #{calc(100% + 20px)};
        transition: all 0.5s;
    }

    &--loading {
        position: relative;
        cursor: wait;
        z-index: 0;
        color: transparent;

        &:before {
            $size: 24px;
            $border-color: #fff;
            $border-weight: 2px;
            $offset: ($size + $border-weight) * 0.5;

            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: $size;
            height: $size;
            margin: auto;
            border: rgba(255, 255, 255, .25) $border-weight solid;
            animation: animation-rotate 750ms linear infinite;
            border-radius: $size;
            border-top-color: $border-color;
        }

        &:hover:after {
            content: none;
        }
    }
}

.link-icon {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #007b75;

    & span {
        display: inline-block;
        margin-left: 10px;
    }
}

.link-req-call {
    @include transitionEaseOutQuint(border);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #007b75;
    border-bottom: 1px solid rgba(0, 123, 117, 0.3);
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

.field-select, .field {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    min-height: 40px;
    background: transparent;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2px;

    &__placeholder {
        @include transitionEaseOutQuint((top, font-size));
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 6px;
        left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(35, 61, 99, 0.7);
        cursor: pointer;

        &-text {
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 30px;
        }

        & .hint {
            margin-left: 5px;
        }
    }

    &__input {
        @include outline-none;
        width: 100%;
        border: none;
        background: transparent;
        font-size: 14px;
        line-height: 24px;
        color: $base-color;

        &[type="number"]:not(:focus)::-webkit-inner-spin-button, &[type="number"]:not(:focus)::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }
    }
    & textarea {
        min-height: 80px;
        margin: 10px 0 0;
        border: none;
        padding: 0;
        resize: none;
        font-size: 14px;
        line-height: 24px;
        color: $base-color;
        background: transparent;
    }

    &.active &__placeholder {
        top: -6px;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
    }
}

.field-file {
    box-sizing: border-box;
    position: relative;
    padding: 8px 13px 8px 36px;
    font-size: 14px;
    line-height: 24px;
    color: #64697a;
    background: rgba(220, 222, 227, 0.5);
    border-radius: 4px;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 12px;
        margin: auto;
        @extend .icon-clip;
    }

    &__input {
        display: none;
    }

    &__list {
        margin-top: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #cccccc;

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    &__data {
        width: #{calc(100% - 32px)};
    }

    &__delete {
        margin-left: 16px;
    }

    &__name {
        font-size: 16px;
        line-height: 20px;
        color: #64697a;
        margin-bottom: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__size {
        font-size: 12px;
        line-height: 16px;
        color: $base-color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.field {
    &--date {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
            margin: auto;
            @extend .icon-calendar;
        }
    }
}

@include keyframes(animation-rotate) {
    100% {
        transform: rotate(360deg);
    }
}
