-
    const cards = [
        {
            img: 'img/card/item-1.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-2.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-3.jpg',
            title: 'Кто виноват? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-4.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-5.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-6.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-7.jpg',
            title: 'Кто виноват? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-8.jpg',
            title: 'Кто виноват? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        },
        {
            img: 'img/card/item-9.jpg',
            title: 'Кто виноват и что с этим можно сделать? Разбираемся Кто виноват и что с этим можно сделать? Разбираемся',
            tags: ['Теги', 'Ключи', 'Экспертиза', 'Теги', 'Ключи', 'Экспертиза']
        }
    ]