include ../icon/icon

//- Блок с социальными сетями
mixin social(list = ['fb', 'telegram'])
    .social
        .__list
            for icon in list
                a(href='#').__item
                    +icon(icon)


mixin social-share
    .social-share
        .__title Поделиться:
        .__box
            +social(['vk', 'fb', 'telegram'])
