include ../icon/icon

//- Блок с социальными сетями
mixin social
    .social
        .__list
            a(href='#').__item
                +icon('fb')
            a(href='#').__item
                +icon('telegram')