include ../icon/icon

mixin back-call(modificator)
    a.back-call.button(href='javascript:void(0)' class='js-modal-open' data-modal-type='request-call' class=modificator)
        span.__icon
            +icon('phone')
        span.__text Обратный звонок