include ../ui-kit/ui-kit
include ../social/social


mixin vacancy-detail
    .vacancy-detail
        .__content
            +vacancy-detaol-block('Обязанности:')
                p Проведение оценочных экспертиз и исследований.
                p Рецензирование экспертных заключений.
                p Проведение консультаций по вопросам назначения экспертиз и проведения исследований.
                p Подготовка отчетов об оценке жилой недвижимости, загородной недвижимости, земельных участков, коммерческой недвижимости; оценке бизнеса; автомобилей.
            +vacancy-detaol-block('Требования:')
                p Высшее образование (профильное или наличие диплома о профессиональной переподготовке в области оценки).
                p Знание стандартов и методов оценки, соответствующих законов и нормативно-правовых актов.
                p Опыт подготовки отчетов об оценке с последующей проверкой в СМАО желателен.
            +vacancy-detaol-block('Условия:')
                ol
                    li Работа в стабильной, развивающейся компании
                    li Белая зарплата, оформление в соответствии с ТК РФ
                    li График: 5/2
                    li Офисе в шаговой доступности от м. Тульская
                    li Полный соц. пакет (оплачиваемый отпуск и больничный, социальные гарантии)

        .__meta
            span Москва, Тульская
            span Высшее образование, полная занятость

        .__footer
            .__price
                span от
                |
                |
                b 70 000 ₽
            .__link
                +button-link('Отправить отклик')(class='js-modal-open' data-modal-type='response')
        .__share
            +social-share


mixin vacancy-detaol-block(title)
    .vacancy-detail__block
        .vacancy-detail__title=title
        .vacancy-detail__text.text
            block