include ../ui-kit/ui-kit
include ../section/section

mixin consultation(title = 'Получить консультацию')
    .consultation
        .__inner
            .__title.form-title=title
            +consultation-box

mixin consultation-box
    .consultation__box
        form(type='post').form.consultation__form.validator.js-form-request-call
            .__body
                .__row
                    .__hulf
                        +field('name','Ваше имя')(data-validator-require='true')
                    .__hulf
                        +field('phone','Номер телефона')(data-validator-require='true' data-validator-type='phone' class='js-mask-phone')
                .__row
                    .__full
                        +field-area('comment', 'Комментарий (необязательно)')
            .__footer
                .__button
                    +button('Отправить', false, 'submit')(class='consultation__button')
                .__policy.consultation__policy Нажимая на кнопку «Отправить», вы подтверждаете свое согласие на обработку персональных данных


        .consultation__info
            ul.consultation__info-list
                li.consultation__info-item
                    span.consultation__info-number 1
                    span.consultation__info-text Оставьте заявку на сайте
                li.consultation__info-item
                    span.consultation__info-number 2
                    span.consultation__info-text Мы перезвоним вам в течение 15 минут
                liconsultation.__info-item
                    span.consultation__info-number 3
                    span.consultation__info-text Консультация – бесплатно
mixin consultation-section
    +section
        +consultation