include ../ui-kit/ui-kit
include ../section/section

mixin consultation(title = 'Получить консультацию')
    .consultation
        .__inner
            .__title.form-title=title
            .__box
                form(type='post').form.__form
                    .__body
                        .__row
                            .__hulf
                                +field('name','Ваше имя')
                            .__hulf
                                +field('phone','Номер телефона')
                        .__row
                            .__full
                                +field-area('comment', 'Комментарий (необязательно)')
                    .__footer
                        .__button
                            +button('Отправить', false, 'submit')(class='consultation__button')
                        .__policy.consultation__policy Нажимая на кнопку «Отправить», вы подтверждаете свое согласие на обработку персональных данных


                .__info
                    ul.__info-list
                        li.__info-item
                            span.__info-number 1
                            span.__info-text Оставьте заявку на сайте
                        li.__info-item
                            span.__info-number 2
                            span.__info-text Мы перезвоним вам в течение 15 минут
                        li.__info-item
                            span.__info-number 3
                            span.__info-text Консультация – бесплатно

mixin consultation-section
    +section
        +consultation