h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    font-family: $base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: $base-color;
    min-width: 320px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.footer {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
}

.o-hidden {
    overflow: hidden;
}

.container {
    @include container();
    max-width: rem(1280);
}

.h1 {
    font-family: $title-font;
    font-weight: $bold;
    color: #233D63;
    font-size: 36px;
    line-height: 48px;
    @include sm-block {
        font-size: 64px;
        line-height: 80px;
    }
}

.h2 {
    font-family: $title-font;
    font-weight: $bold;
    font-size: 48px;
    line-height: 56px;
    color: #233D63;
}

.section {

    & ~ & {
        @include sm-block {
            margin-top: 112px;
        }
        margin-top: 60px;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @include sm-block {
            margin-bottom: 64px;
        }
    }

    &__head &__title,
    &__head &__nav {
        width: 50%;
        margin-bottom: 0;
    }
    &__nav {
        @include sm-block {
            display: flex;
        }
        display: none;
        justify-content: flex-end;
        & .icon {
            &:first-child {
                margin-right: 36px;
            }
        }
    }

    &__breadcrumbs {
        text-align: center;
        margin-bottom: 16px;
    }

    &__title {
        margin-bottom: 40px;
        @include sm-block {
            margin-bottom: 64px;
        }

        & .h1 {
            text-align: center;
        }
    }

    &__buttons {
        margin-top: 15px;
        text-align: center;
    }

    &--inner-page {
        padding: 32px 0 96px;
    }
}

.text {
    font-size: 18px;
    line-height: 28px;
    color: #393E46;

    @include sm-block {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        @include sm-block {
            margin: 0 0 30px 0;
        }
        margin: 0 0 15px 0;
        &:last-child {
            margin-bottom: 0;
        }

    }

    ul {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 20px;

        @include sm-block {
            padding-left: 30px;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        & li {
            padding-left: 20px;
            position: relative;
            margin-bottom: 10px;

            @include sm-block {
                padding-left: 35px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 14px;
                @include wh(8px);
                background: #007B75;
            }
        }
    }
}